<!DOCTYPE html>
<html>
  <head>
    <title>New produto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        background-color: #f0f0f0; /* Cor de fundo pastel */
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
      }

      .container {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h1 {
        margin-bottom: 20px;
        color: #333; /* Cor do texto */
      }

      .btn {
        display: inline-block;
        padding: 10px 20px;
        margin-bottom: 10px;
        text-decoration: none;
        color: #fff; /* Cor do texto */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .btn-primary {
        background-color: #38c172; /* Azul */
      }

      .btn-primary:hover {
        background-color: #2cb14e; /* Azul escuro */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>New produto</h1>
      <%= render "form", produto: @produto %>
      <br>
      <div>
        <%= link_to "Voltar to produtos", produtos_path, class: "btn btn-primary" %>
      </div>
    </div>
  </body>
</html>
